{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}

{% bootstrap_javascript jquery=True%}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block bootstrap3_content %}

<div class="row-fluid">
  <div class="col-lg-4">
    <form role="form-horizontal" class="form" action="{% url 'xmatch' %}" method="post">
      <legend>Inputs</legend>
      {% csrf_token %}
      {% bootstrap_form form layout='vertical' %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
      </button>
      {% endbuttons %}
    </form>
  </div>
  <div class="col-lg-8">
    <legend>Output</legend>

    {% if maps %}
    <div class="col-lg-6">
      {% if maps.mapy %}
      <div class="panel panel-default">
	<div class="panel-heading">Y-Map</div>
	<img class="img-responsive" src="data:image/png;base64,{{maps.mapy}}" alt="Ymap" />
      </div>
      {% endif %}
    </div>
    <div class="col-lg-6">
      {% if maps.mapx %}
      <div class="panel panel-default">
	<div class="panel-heading">X-Map</div>
	<img class="img-responsive" src="data:image/png;base64,{{maps.mapx}}" alt="Xmap"/>
      </div>
      {% endif %}
    </div>



    {% else %}
    <em> No maps yet </em>
    {% endif %}

 
  
    <div class="col-lg-12">


    {% if xmatch %}

    <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#XMATCH"> XMATCH <span class="badge pull-right"> {{xmatch|length}} </span> </a></h4> 
	</div>
	<div id="XMATCH" class="panel-collapse collapse"> 


    <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#SZDB"> SZDB <span class="badge pull-right"> {{ xmatch.SZDB_ID }} </span> </a></h4> 
	</div>
	<div id="SZDB" class="panel-collapse collapse"> 
        {% if xmatch.SZDB_ID > 0 %}
            <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z</th>
 	      <th>z type</th>
	      <th>ALT_NAME</th>
	      <th>dist</th>
           </td>
           {% for item in xmatch %}
              <tr>
		<td>{{ item.SZDB_ID }}</td>
		<td>{{ item.SZDB_NAME }}</td>
		<td>{{ item.SZDB_RA }}</td>
		<td>{{ item.SZDB_DEC }}</td>
		<td>{{ item.SZDB_REDSHIFT }}</td> 
		<td>{{ item.SZDB_REDSHIFT_TYPE }}</td> 
		<td>{{ item.SZDB_ALT_NAME }}</td>
		<td>{{ item.SZDB_SEP }} </td>
	      </tr>
	   {% endfor %}
            </table>
        {% else %}
            <h2>bouuuuh</h2>
        {% endif %} 
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">PXCC</div>
        {% if xmatch.PXCC_ID > 0 %}
	    <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z</th>
	      <th>M500</th>
	      <th>ALT_NAME</th>
	      <th>dist</th>
            </td>
                {% for item in xmatch %}
                    <tr>
		      <td>{{ item.PXCC_ID }}</td>
		      <td>{{ item.PXCC_NAME }}</td>
		      <td>{{ item.PXCC_RAJ2000 }}</td>
		      <td>{{ item.PXCC_DEJ2000 }}</td> 
		      <td>{{ item.PXCC_Z }}</td> 
		      <td>{{ item.PXCC_M_500 }}</td> 
		      <td>{{ item.PXCC_NAME_ALT}}</td>
		      <td>{{ item.PXCC_SEP }}</td>
		    </tr>
                {% endfor %}
            </table>
	{% else %}
	<h2>sniffff</h2>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Redmapper</div>
        {% if xmatch.RDM_ID > 0 %}
        <h2>OH YEAH !!!</h2>
	{% else %}
	N/A
        {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Wen</div>
        {% if xmatch.WEN_ID > 0 %}
        <h2>OH YEAH !!!</h2>
	{% else %}
	N/A
        {% endif %}
    </div>
    
</div>
</div>

    {% else %}
    <em> No result yet </em>
    {% endif %}



    


</div>
</div>


  
</div>
{% endblock %}
