{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}

{% bootstrap_javascript jquery=True%}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block bootstrap3_content %}

<div class="row-fluid">
  <div class="col-lg-4">

    

    <form role="form-horizontal" class="form" action="{% url 'xmatch' %}" method="post">
      <legend>Inputs</legend>
Enter your coordinates and parameters to see the Planck y-map and Rosat x-map, and check for corresponding clusters.<p>

      {% csrf_token %}
      {% bootstrap_form form layout='vertical' %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
      </button>
      {% endbuttons %}
    </form>
The cross match of the position is done with SZDB, MCXC, RedMapper and Wen catalogue at 5arcmin distance. The fluxes are computed as aperture photometry in 3arcmin radius.
Provided by IDOC/IAS/OSUPS.
  </div>

  <div class="col-lg-8">
<p>

    <legend>Output</legend>

    {% if maps %}
    <div class="col-lg-6">
      {% if maps.mapy %}
      <div class="panel panel-default">
	<div class="panel-heading"><h4> Planck y-Map</h4></div>
	<img class="img-responsive" src="data:image/png;base64,{{maps.mapy}}" alt="Ymap" />
	{% for val, xpix, ypix  in maps.yphot %}
	<center><h4> Aperture y flux = {{ val|floatformat:"6" }} arcmin<SUP>2</SUP></h4></center>
	{% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-lg-6">
      {% if maps.mapx %}
      <div class="panel panel-default">
	<div class="panel-heading"><h4>Rosat X-Map</h4></div>
	<img class="img-responsive" src="data:image/png;base64,{{maps.mapx}}" alt="Xmap"/>
	

	{% for val, xpix, ypix  in maps.xphot %}
	<center><h4> Aperture x flux = {{ val|floatformat:"6"}}  cnt/s<SUP></SUP></h4></center>
	{% endfor %}
      </div>
      {% endif %}
    </div>



    {% else %}
    <em> No maps yet </em><p>
    {% endif %}

 
  
    <div class="col-lg-12">


    {% if xmatch %}

    <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#XMATCH"> XMATCH <span class="badge pull-right"> {{ xmatch.nbmatch.global }} </span> </a></h4> 
	</div>
	<div id="XMATCH" class="panel-collapse collapse"> 


    <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	   <a data-toggle="collapse" href="#SZDB"> SZDB <span class="badge pull-right"> {{ xmatch.nbmatch.szdb }} </span> </a></h4> 
	  
	</div>
	<div id="SZDB" class="panel-collapse collapse"> 
        {% if xmatch.xmatch.SZDB_ID > 0 %}
            <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z</th>
 	      <th>z type</th>
	      <th>ALT_NAME</th>
	      <th>dist</th>
           </td>
           {% for item in xmatch.xmatch %}
              <tr>
		
		{% with y=item.SZDB_ID|stringformat:"s" %}
		{% with  template="http://szcluster-db.ias.u-psud.fr/sitools/upload/Slide/html/index_"|add:y|add:".html" %}

		<td> <a href="#" onClick="MyWindow=window.open('{{ template }}','MyWindow','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,width=1100,height=420'); return false;"> {{ item.SZDB_ID }} </a> </td>


		{% endwith %}
		{% endwith %}

		<td>{{ item.SZDB_NAME }}</td>
		<td>{{ item.SZDB_RA }}</td>
		<td>{{ item.SZDB_DEC }}</td>
		<td>{{ item.SZDB_REDSHIFT }}</td> 
		<td>{{ item.SZDB_REDSHIFT_TYPE }}</td> 
		<td>{{ item.SZDB_ALT_NAME }}</td>
		<td>{{ item.SZDB_SEP }} </td>
	      </tr>
	   {% endfor %}
            </table>
        {% else %}
            <h4>None</h4>
        {% endif %} 
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#PXCC"> PXCC <span class="badge pull-right"> {{ xmatch.nbmatch.pxcc }} </span> </a></h4> 
	</div>
	<div id="PXCC" class="panel-collapse collapse">
        {% if xmatch.xmatch.PXCC_ID > 0 %}
	    <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z</th>
	      <th>M500</th>
	      <th>ALT_NAME</th>
	      <th>dist</th>
            </td>
                {% for item in xmatch.xmatch %}
                    <tr>
		      <td>{{ item.PXCC_ID }}</td>
		      <td>{{ item.PXCC_NAME }}</td>
		      <td>{{ item.PXCC_RAJ2000 }}</td>
		      <td>{{ item.PXCC_DEJ2000 }}</td> 
		      <td>{{ item.PXCC_Z }}</td> 
		      <td>{{ item.PXCC_M_500 }}</td> 
		      <td>{{ item.PXCC_NAME_ALT}}</td>
		      <td>{{ item.PXCC_SEP }}</td>
		    </tr>
                {% endfor %}
            </table>
	{% else %}
	<h4>None</h4>
        {% endif %}
        </div>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#RDM"> Red Mapper II <span class="badge pull-right"> {{ xmatch.nbmatch.rdm }} </span> </a></h4> 
	</div>
	<div id="RDM" class="panel-collapse collapse">
        {% if xmatch.xmatch.RDM_ID > 0 %}
	    <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z lambda</th>
	      <th>z spec</th>
	      <th>dist</th>
            </td>
                {% for item in xmatch.xmatch %}
                    <tr>
		      <td>{{ item.RDM_ID }}</td>
		      <td>{{ item.RDM_NAME }}</td>
		      <td>{{ item.RDM_RA }}</td>
		      <td>{{ item.RDM_DEC }}</td> 
		      <td>{{ item.RDM_Z_LAMBDA }}</td> 
		      <td>{{ item.RDM_Z_SPEC }}</td> 
		      <td>{{ item.RDM_SEP }}</td>
		    </tr>
                {% endfor %}
            </table>
	{% else %}
	<h4>None</h4>
        {% endif %}
        </div>
        </div>

        <div class="panel panel-default">
        <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#WEN"> WEN catalogue <span class="badge pull-right"> {{ xmatch.nbmatch.wen }} </span> </a></h4> 
	</div>
	<div id="WEN" class="panel-collapse collapse">
        {% if xmatch.xmatch.WEN_ID > 0 %}
	    <table class="table table-hover">
            <tr>
	      <th>ID</th>
	      <th>NAME</th>
	      <th>RA</th>
	      <th>DEC</th>
	      <th>z phot</th>
	      <th>z spec</th>
	      <th>dist</th>
            </td>
                {% for item in xmatch.xmatch %}
                    <tr>
		      <td>{{ item.WEN_ID }}</td>
		      <td>{{ item.WEN_NAME }}</td>
		      <td>{{ item.WEN_RA }}</td>
		      <td>{{ item.WEN_DEC }}</td> 
		      <td>{{ item.WEN_PHOTZ }}</td> 
		      <td>{{ item.WEN_SPECZ }}</td> 		     
		      <td>{{ item.WEN_SEP }}</td>
		    </tr>
                {% endfor %}
            </table>
	{% else %}
	<h4>None</h4>
        {% endif %}
</div>
</div>
</div>
</div>

    {% else %}
    <em> No x-match yet </em>
    {% endif %}

</div>



{% if xmatch.xmatch.SZDB_ID > 0 %}
      

<div class="col-lg-6">     

  <div class="panel panel-default">
        <div class="panel-heading">
	<div class="panel-title"> <h4>Other wavelenghts</h4></div>
 </div>
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 350px; margin: 0 auto">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://szcluster-db.ias.u-psud.fr/sitools/upload/Slide/images/SZ_1825_SZ_SDSS.png" alt="SDSS" width="350" height="350">
      </div>

      <div class="item">
        <img src="http://szcluster-db.ias.u-psud.fr/sitools/upload/Slide/images/SZ_1825_SZ_W1.png" alt="W1" width="350" height="350">
      </div>
    
      <div class="item">
        <img src="http://szcluster-db.ias.u-psud.fr/sitools/upload/Slide/images/SZ_1825_SZ_FoF.png" alt="Wise" width="350" height="350">
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
</div>
</div>

</div>


  {% endif %}
</div>
</div>
{% endblock %}
